.selected-events {
  margin-bottom: 1.875rem;
}

.title {
  color: var(--Gray-900, #101828);
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 32px;
  margin-bottom: 30px;
}

.selected-events-flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

.selected-event {
  flex-basis: 100%;
}
