<app-search (searchTextChanged)="onSearchTextEntered($event)"></app-search>

<div class="selected-events" id="selected-events">
  <h1 class="home-title">Istaknuti događaji</h1>
  <p *ngIf="!events?.length"><em>Loading...</em></p>
  <div class="selected-events-flex">
    <div class="d-flex flex-row-reverse gap-3">
      <div *ngFor="let event of events; let i = index" class="selected-event">
        <div
          *ngIf="
            i >= events.length - 3 &&
            (searchText === '' ||
              event.teamOneName.toLowerCase().includes(searchText) ||
              event.teamTwoName.toLowerCase().includes(searchText))
          "
        >
          <app-event-card [event]="event"></app-event-card>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="all-events" id="all-events">
  <h1 class="home-title">Svi događaji</h1>
  <div class="grid">
    <p *ngIf="!events?.length"><em>Loading...</em></p>
    <div class="grid-container">
      <div class="row gy-4">
        <div class="col-4" *ngFor="let event of events">
          <div
            *ngIf="
              searchText === '' ||
              event.teamOneName.toLowerCase().includes(searchText) ||
              event.teamTwoName.toLowerCase().includes(searchText)
            "
          >
            <app-event-card [event]="event"></app-event-card>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
